* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    background-color: #000000;
}

main {
    width: 95%;
    min-height: 100vh;
    background-color: rgb(42, 11, 114);
    margin: auto;
    text-align: center;
}

h1 {
    padding: 30px 0px;
    text-shadow: 0 0 5px rgb(96, 96, 240), 0 0 10px rgb(92, 162, 92), 0 0 10px yellow;
    font-size: 2.5em;
}

div#imagens {
    background-color: rgb(199, 97, 97);
    display: flex;
    width: 100%;
    flex-flow: nowrap;
    margin-top: 10px;
    justify-content: center;
}

#img1,#img2 {
    display: flex;
    flex-flow: column;
    width: 50%;
    padding-top: 5px;
    border: 1px solid black;
    font-weight: 900;
    letter-spacing: 2px;
    text-align: center;
    align-items: center;
}
#texto {
    height: 150px;
    user-select: none;
    margin-top: 10px;
    font-size: 1.3em;
    text-align: justify;
    padding: 5px;
    background-color: aliceblue;
}


img {
    width: 55%;
    padding: 10px;
}

#botoes {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    justify-content: space-between;

}

button.btn01 {
    width: 32%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.2em;
    font-weight: 900;
    letter-spacing: 2px;
    padding:7px;
    background-color: #79A7E4;
    margin-top: 6px;
}

button.btn02 {
    width: 32%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.2em;
    font-weight: 900;
    letter-spacing: 2px;
    padding: 7px;
    background-color: #B0DC82;
    margin-top: 6px;
}

button.btn03 {
    width: 32%;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.1em;
    font-weight: 900;
    letter-spacing: 1.4px;
    padding: 7px;
    background-color: #F3D776;
    margin-top: 6px;
}
#resetar {
    width: 100%;
    padding: 10px;
    background-color: rgb(226, 103, 33);
    color: rgb(0, 0, 0);
    font-weight: 900;
    font-size: 1.5em;
    letter-spacing: 2px;
    border-radius: 5px;
    border: 3px solid black;
    margin-top: 10px;
    text-align: center;
}
#resetar:hover {
    background-color: red;
    color: white;
}
h5 {
    width: 100%;
    color: #00000071;
    user-select: none;
    font-size: 1em;
    text-align: right;
    padding-top: 10px;
}
h5::after{
    content: '⚡️';
}

@media screen and (min-width: 768px) {
    main {
        width: 60%;
    }
}
@media screen and (min-width: 992px) {
    main {
        width: 60%;
    }
}